@charset  "UTF-8";

/* versão para iphone- celular */


@media screen and (min-width: 120px) and (max-width: 840px) {
   main {
      flex-direction: column;
      gap: 0em;
  }

   div.container_img>#img_login {
      display: none;
  
  }

  form {
   margin: auto;
   padding: 40px;
}


  form >h2 {
   font-size: 13px;
   margin-bottom: 20px;
}



div.container_img {
   padding: 0px;
   display: none;
}

}
