@media screen and (min-width:220px) and (max-width: 480px) {


    header#caixa-header-main {
        justify-content: center;
       
    }

    
    img#logo-cubatão-prefeitura {
        height: 4em;
        margin-left: 0;

    }

    div#descricao {
        flex-direction: column-reverse;
        margin-left: 0em;
       
        width: 80%;
        margin: auto;
        margin-bottom: 4rem;
    
    }


    div#descricao>div#caixa-descricao-titulos>h1 {
      
        font-size: 2rem;
        text-align: center;
   
    }

    div#descricao>div#caixa-descricao-titulos>p {
       
        font-size: 15px;
        width: 100%;
        text-align: justify;
       
    }

    img.picture-classes {
        height: 12rem;
        width: 12em;

    }
    

    main>article#caixa-classes-series {
       
        flex-wrap: wrap;
    
    }

    div.card {
        width: 35rem;
    
    }

    a#link-entrar-atividades {
        padding: 10px;
        font-size: 14px;
    }

 

    .h5, h5 {
        font-size: 1.1rem;
    }
    
    


}