@charset "UTF-8";

/*versão para tablete*/

@media screen and (min-width: 755px) and (max-width:1224px) {

  

  span#menu {
    display: none;
  }


  main>img {
    height: 200px;
  }

  div#menu_escondido{
    display: none;
  }

  main>div.container_01>h1 {
    font-size: 35px;
    width: 100%;
  }

  main>div.container_01>p {
    font-size: 14px;
  }

  article#nav {

    height: 49px;
    margin-bottom: 30px;

  }

  input#botao_01 {
    font-size: 16px;
    width: 255px;
  }

  section>img {

    height: 234px;

  }

}


/* versão para celular*/

@-webkit-keyframes scale-up-right {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}
@keyframes scale-up-right {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}




@media screen and (min-width: 390px) and (max-width:755px) {

  section>img {
    display: block;
    height: 217px;
   
}


  header {
    justify-content: space-between;
    align-self: center;
    padding-left: 20px;
    margin-bottom: 90px;
    

  }

  span#menu {
    display: block;
    margin-right: 20px;
    cursor: pointer;
    z-index: 2;

   
   
  }

  span#menu:hover {
    color: rgb(20, 81, 116);
   
  }



  header>#menu_escondido {
    animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    display: none;

    position: absolute;
    top: 0;
    right: 0;

    height: 100vh;
    width: 40vw;
    background-color: rgba(23, 175, 235, 0.988);

    z-index: 1;
    text-align: center;

    border-radius: 30px 0px  0px  30px;
  }

  div#container_menu_escondido{
    margin-top: 200px;
  }

  div#container_menu_escondido >a{
    display:block;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

 

  div#container_menu_escondido >a:hover{
    text-decoration: underline;
    transition-duration: 4ms;
    color: rgb(20, 81, 116);
  }

  

  header>a#duvidas {
    display: none;
  }

  main>div.container_01>#msg {
    font-size: 17px;

  }

  main {
    flex-direction: column;
  }


  main>div.container_01 {
    width: 70%;
    padding: 30px;
  }

  main>div.container_01>h1 {
    font-size: 42px;
    margin-bottom: 44px;
  }

  main>div.container_01>p {
    font-size: 16px;
  }

  main>img {
    margin-top: 40px;
    height: 220px;
  }

  article#nav {
    display: none;
  }

  section#container_text_form {

    flex-direction: column;
    padding: 20px;
  }

  div.container_consulta_text {

    flex-direction: column;

    width: 80%;
    padding: 50px;

  }

  section>img {
    display: block;
    height: 259px;
    border-radius: 15px;
  }

  div.container_consulta_form {
    display: none;
    padding: 30px;
    margin-bottom: 85px;
  }


}