*{
    margin:0;
    padding:0;
}


img.logo-header{
    height: 6em;
    margin-left: 0;
    margin-right: 0;
}
div.caixas-header{
    display: flex;
    justify-content: center;
    gap: 2em;

    padding:15px;
    margin-bottom: 2em;
    background-color: rgba(0, 0, 0, 0.088);
 
}

div.caixas-resumo{
    margin: auto;
    width: 90%;
    margin-bottom: 4em;
   
}


div.dados{
    display: flex;
    justify-content: space-around;
    gap: 1em;

    margin-bottom: 4em;
    margin-top:4em;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.06);
}

@media screen and (min-width: 661px) and (max-width: 1024px){

    img.logo-header {
        height: 5em;
        margin-left: 0;
        margin-right: 0;
    }


}

@media screen and (min-width: 375px) and (max-width: 761px){

    img.logo-header {
        height: 5em;
        margin-left: 0;
        margin-right: 0;
    }

    div.caixas-header{
     align-items: center;
    flex-direction: column;
     
       
      
    }

    div.dados{

        align-items: center;
        flex-direction: column;
    }

   
}


@media screen and (min-width: 200px) and (max-width:375px){

    img.logo-header {
        height: 4em;
        margin-left: 0;
        margin-right: 0;
    }

    
    div.caixas-header{
     align-items: center;
    flex-direction: column;
     
       
      
    }

    div.dados{

        align-items: center;
        flex-direction: column;
    }




   
}