@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');


/*animações*/

@keyframes logo {
    from {
        transform: translatex(0px);

    }


    to {
        transform: translateY(-6px);
        opacity: 1;
    }
}



@keyframes text {
    from {
        transform: translatex(-25px);

    }


    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.anim_txt{
    animation: text 1s 1s ease-in-out forwards;
    opacity: 0;
}




@keyframes simples {
    from {
        transform: translatex(0px);

    }


    to {
        transform: translateY(-25px);
        opacity: 1;
    }
}

.anim_simples{
    animation: simples 3s 1s ease-in-out forwards;
    opacity: 0;
}


@keyframes simples {
    from {
        transform: translatex(0px);

    }


    to {
        transform: translateY(-35px);
        opacity: 1;
    }
}

.anim_simples_02{
    animation: simples 1s 2ms ease-in-out forwards;
    opacity: 0;
}


@-webkit-keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  }
  @keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  }
  
.scale-up-hor-right {
	-webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-hor-right 0.4s ease-out cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}






/*corpo do html*/

.icon-menu {
    height: 25px;}

:root {
    ---Font: 'Nunito', sans-serif;
    ---Cor01: rgb(62, 147, 255);
    ---Cor03: #034e6bd0;
    ---Cor04: #036b05df;}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;}

body {
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(45deg, rgba(62, 147, 255, 1) 24%, rgba(68, 171, 223, 1) 68%);}

header {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 80px;
   }

header> a > img#logotipo {
    animation: logo 1s 1s ease-in-out forwards;
    opacity: 0;
    height: 94px;
    margin-left: 20px;}

header>img#menu_icon {
    animation: logo 1s 1s ease-in-out forwards;
    opacity: 0;
    position: absolute;
    right: 2em;

    display: block;
    height: 50px;}

menu {
    background: var(---Cor01);
    background: linear-gradient(45deg, rgb(48 184 255) 24%, rgb(123 211 255) 68%);
    border-radius: 30px 0px 0px 30px;
    
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 5em;
    gap: 3em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 1;}

menu>#img-menu-ativo {
    height: 25px;}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7em;
    padding: 25px;
    width: 84%;
    margin: auto;}

main>#container_01 {
    padding: 10px;
    width: 42em;}

main>#container_01>h1 {

    font-family: var(---Font);
    font-size: 3.6em;

    color: #ffffffd5;
    margin-bottom: 4px;
    text-shadow: 1px 1px 3px #00000026;}

main>#container_01>p {
  
    font-family: var(---Font);
    font-size: 20px;
    font-weight: bold;

    line-height: 25px;
    margin-bottom: 1em;
    color: var(---Cor03);
    text-shadow: 1px 1px 3px #0000000f;}

article#img_container {
    animation: simples 1s 1s ease-in-out forwards;
    opacity: 0;
    margin: auto;
    padding: 5px;}

#img-cartao-familia {
    display: block;
    height: 390px;}

#container_01>div.botao {
    animation: text 1s 1s ease-in-out forwards;
    opacity: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 20px;
    padding: 10px;
    width: 20em;
    font-family: var(---Font);

    font-size: 20px;
    font-weight: 800;
    color: var(---Cor03);
    text-shadow: 1px 1px 3px #0000000f;}

#container_01>div.botao:hover {
    background-color: rgba(255, 255, 255, 0.704);}

#container_01>a#entre-contato {

    cursor: pointer;

    display: none;
    align-items: center;
    justify-content: center;
    gap: 1em;

    background-color: var(---Cor03);
    border-radius: 20px;

    
    padding: 10px;
    width: 26em;

    font-family: var(---Font);
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
    text-shadow: 1px 1px 3px #0000000f;}

#container_01>a#entre-contato:hover {
    background-color: var(---Cor04);}

form {
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    padding:20px;}

div#formulario_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(45deg, rgb(66 131 213) 24%, rgb(105 205 255) 68%);
    box-shadow: 2px 1px 11px #00000012;
    height: 20em;}
   
div#formulario_container>h3 {
    font-family: var(---Font);
   
    text-align: center;
    font-size: 22px;
    color: #fff;
    padding-bottom: 10px;
    text-shadow: 1px 1px 3px #00000042;}

div#container-img-consultar {
    height: 25em;
    width: 45em;}

input {
    font-family: var(---Font);
    background-color: #00800000;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffff;
    color: #ffffffeb;
    text-shadow: 1px 1px 3px #0000000f;}

input#submit {
    margin-top: 25px;
    margin-bottom: 7px;}

label {
    font-family: var(---Font);
    color: #ffffffeb;
    margin-top: 10px;
    padding: 2px;
    text-shadow: 1px 1px 3px #0000000f;}

.bt-enviar {
    font-family: var(---Font);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 20px;
    padding: 7px;

    font-size: 15px;
    font-weight: bold;
    color: var(---Cor03);
    border: none;
    text-shadow: 1px 1px 3px #0000000f;
    margin-top: 1em;}

.bt-enviar:hover {
    background-color: rgba(255, 255, 255, 0.819);}

.bt-reset {
    cursor: pointer;
    background-color: var(---Cor03);

    border-radius: 20px;
    padding: 7px;
    font-family: var(---Font);

    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.853);
    border: none;
    text-shadow: 1px 1px 3px #0000000f;
margin-top: 5px;}

.bt-reset:hover {
    background-color: rgba(168, 70, 70, 0.819);}

