*{
    font-family: monospace;
    color: black;
}

img.logotipo {
    height: 5em;
    margin-left: 3em;
}

div.caixa-respostas-result {
    margin-bottom: 2em;
}

div.caixa-respostas-result>p {
    font-family: monospace;
    font-size: 18px;
}


div#box-pesq {
    display: none;
}

th#editor{
    border: none;
    display:none;
}

#button{
    display: none;
}

div.table-responsive{
    width: 100%;
}

td, th {
    font-size: 12px;
    border: 1px solid black;
}


th{
  
    font-size: 10px;
}