@media screen and (min-width: 120px) and (max-width: 900px) {


    header{
        justify-content: start;
    }

    img.logotipo {
        height: 6em;
        margin-left: 1em;
    }


    div.caixa-respostas-result {
        display: block;
        width: 80%;
        margin-left: 0;
        margin-bottom: 2em;
        /* margin-left: 2em; */

    }
    
    
        div.caixa-pesquisa{

        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: 0;

    }


    div.caixa-respostas-result > p {
        font-size: 18px;
        margin-left: 1em;
    }

    div#box-pesq {
        display: flex;
        justify-content: center;
        padding-right:0em;
    }

    div.caixa-pesquisa {
        display: flex;
        gap:2em;
         margin-right: 0em; 
    }

    th{
        font-size: 18px;
    }


    tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        font-size: 15px;
    }


    button.links-table {
        font-size: 12px;
    }
    
    p.search {
    font-size: 16px;
    padding: 5px;
    text-align: center;
    margin-bottom: 0em;
}


}




