@charset "UTF-8";
@media screen and (min-width: 120px) and (max-width: 840px) {


    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5em;
    
        border-bottom: 2px solid #fff;
        margin-bottom: 7em;
        padding: 5px;
    }
    
    
    img.logotipo{
        height: 70px;
        margin-right: 40px;
    }
    
    
    header > img#menu_icon{
      display: none;
    }


    header > a#link_retor{
        font-size: 14px;
        font-weight: bold;
    }


    div.table-responsive{
        margin: auto;
        width:30em;
    }



}