/* versão para iphone- celular */

@media screen and (min-width: 120px) and (max-width: 1116px) {

    body{
        height: 900px;
    }
    
    header {
        padding: 24px;
        margin-bottom: 1em;
    }

    header>a>img#logotipo {
        height: 72px;
    }

    header>img#menu_icon {
        height: 45px;
    }

    menu {
        width: 3em;
        height: 45vh;
        gap: 3em;
        padding: 30px;
    }

    main {
        flex-direction: column;
        gap: 0px;
    }

    main>div#container_01 {
        width: 22em;
        padding: 12px;

    }

    main>div#container_01>h1 {
        font-size: 25px;
        text-align: center;
    }
    div.bottom_consultar {
        gap: 10px;
        padding: 8px;
        width: 70%;
        margin:auto; 

        margin-bottom: 30px;
    
    }

    div.bottom_consultar >img {
       height: 20px;
    
    
    }


    div.bottom_consultar>a {
        font-size: 17px;
   }

    section {
        width: 16em;
        margin-top: 0em;
    }

    section > form{
        height: 17em;
    }

    section > form > h3{
        font-size:14px;
        margin-bottom: 30px;
    }

    form > label{
        font-size: 14px;
    }

    input::placeholder{
        font-size: 14px;
    }
    
    form > input#bottom_consultar{
        font-size: 14px;
        padding: 4px;
        
    }


}