/* versão para iphone- celular */

@media screen and (min-width: 120px) and (max-width: 1116px) {

    header{
        padding:24px; }
    
    header> a> img#logotipo {
        height: 72px;}

    header>img#menu_icon {
        height: 45px;}

    menu {
        width: 3em;
        height: 38vh;
        gap: 3em;
        padding: 45px;}

    main{
        flex-direction: column;}

    main > div#container_01{
        width: 22em;
        padding: 12px;
        }

    main > div#container_01 >h1{
        font-size: 28px;
        text-align: center; }

    main > div#container_01 >p{
        font-size: 14px;
        width: 23em;
        margin: auto;}

   

div.bottom_consultar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    padding: 8px;
    border-radius: 40px;
  

    margin: auto;
    width: 80%;
    margin-bottom: 9px;
    margin-top: 9px;
}

div.bottom_consultar > a {
    font-size: 16px;
    font-family: var(---Font);
    font-weight: bold;


    text-decoration: none;
    text-shadow: 1px 1px 3px #0000000f;
}

article#img_container{
   margin-bottom: 0px;
    
}


article#img_container > img{
    height: 250px;

}

}