@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');


/*animações*/



@keyframes icone-log {
    0% {
        transform: translatex(0px);


    }


    50% {
        transform: translateY(-10px);

    }

    100% {
        transform: translatex(0px);


    }
}



@keyframes text {
    from {
        transform: translatex(-25px);

    }


    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes header {
    from {
        transform: translatex(25px);

    }


    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.anim_txt {
    animation: text 1s 1s ease-in-out forwards;
    opacity: 0;
}




@keyframes simples {
    from {
        transform: translatex(0px);

    }


    to {
        transform: translateY(-30px);
        opacity: 1;
    }
}

.anim_simples {
    animation: simples 1s 1s ease-in-out forwards;
    opacity: 0;
}


/*CORPO DO HTML*/


:root {
    ---Font: 'Nunito', sans-serif;
    ---Cor01: rgb(62, 147, 255);
    ---Cor03: #034e6bd0;
    ---Cor04: #036b05df;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    
}

header {
    animation: header 1s 1ms ease-in-out forwards;
    opacity: 0;

    display: flex;
    align-items: center;
    border-bottom: 2px solid #BDE3F2;
}

header>a>img#logo {
  
    height: 90px;
    margin-left: 6em;
}

header>a#Link-login {
    animation: icone-log 4s 3s ease-in-out infinite;
    position: absolute;
    right: 0;

    margin-right: 6em;
    padding: 6px;
    width: 5em;

    border: 2px solid #2BA8D9;
    font-family: var(---Font);
    font-weight: 500;

    text-decoration: none;
    text-align: center;
    color: #2BA8D9;

    cursor: pointer;
}


header>a#Link-login:hover {
    transition-duration: 0.4s;
    border: 2px solid #2694BF;
    color: #2694BF;
}

main {
    animation: text 1s 1ms ease-in-out forwards;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;

    padding: 4em 0em 7em 0em;
    background-color: aliceblue;

    margin-bottom: 4em;

}


div#container_one {
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 40em;
    padding: 10px;
}


div#container_one>h4 {
    font-family: var(---Font);
    font-size: 17px;
    font-weight: bold;
    color: #2BA8D9;
}


div#container_one>h1 {
    font-family: var(---Font);
    color: #2694BF;
}


div#container_one>p,
a#link-whaatsApp {
    font-family: var(---Font);
    font-weight: 200;
    color: #2BA8D9;
    margin-bottom: 1em;
    text-decoration: none;
}

a#link-whaatsApp:hover {
    text-decoration: underline;
}

div#container_one>a#link-consultar {
    font-family: var(---Font);
    font-weight: bold;

    background-color: #169fae;
    border-radius: 7px;


    width: 40%;
    padding: 7px;

    text-align: center;
    text-decoration: none;
    color: #ffff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.158);

}

div#container_one>a#link-consultar:hover {
    background-color: #0aaec0;
    color: #ffff;


}

main>#imagem-one {
    height: 30em;
}


a#link-whaatsApp:hover {
    text-decoration: underline;
}







/* FORMULARIO DE CONSULTA  */


section {
    animation: simples 2s 2s ease-in-out forwards;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;

    background-color: #ffffff;
    margin: auto;
    padding: 15px;
}

form{
    background-color: #ffffff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap:1em;

    width: 20em;
    padding:14px;

}

form > h2{
    font-family: var(---Font);
    font-size: bold;
    text-align: center;

    font-size: 18px;
    color:#1BAFBF;
    margin-bottom: 10px;
}

form > input{

    border: none;
    outline: none;
    border-bottom: 1px solid #16a1b0;
    background-color: transparent;

    font-family: var(---Font);
    font-weight: 200;
}

input::placeholder{
    color: #84a0ab
}


form > label{
    font-family: var(---Font);
    font-weight: 400;
    color:#16a1b0;
}

div#container_submit{
    margin-top: 1em;
}


input#bottom-consultar{
    border: none;
    padding: 8px;
    border-radius: 4px;


    background-color: #1BAFBF;
    font-family: var(---Font);
    font-weight: bold;
    color: #fff;

}

input#bottom-consultar:hover{
    background-color: #1498a7;
    cursor: pointer;
}

img#img-consultar{
  border-radius: 4px;
  height: 263px;
}


