@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');


/*animações*/





@keyframes logo {
    0% {
        transform: translatex(0px);

    }


    50% {
        transform: translateY(-6px);
        opacity: 1;
    }

    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}

@keyframes icone-log {
    0% {
        transform: translatex(0px);
       

    }


    50% {
        transform: translateY(-12px);
        
    }

    100%{
        transform: translatex(0px);
        

    }
}





@keyframes text {
    from {
        transform: translatex(-25px);

    }


    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.anim_txt {
    animation: text 1s 1s ease-in-out forwards;
    opacity: 0;
}




@keyframes simples {
    from {
        transform: translatex(0px);

    }


    to {
        transform: translateY(-25px);
        opacity: 1;
    }
}

.anim_simples {
    animation: simples 1s 1s ease-in-out forwards;
    opacity: 0;
}


@keyframes simples {
    from {
        transform: translatex(0px);

    }


    to {
        transform: translateY(-35px);
        opacity: 1;
    }
}

.anim_simples_02 {
    animation: simples 1s 2ms ease-in-out forwards;
    opacity: 0;
}








/*corpo do html*/

#icon {
    height: 24px;
}

:root {
    ---Font: 'Nunito', sans-serif;
    ---Cor01: rgb(62, 147, 255);
    ---Cor03: #034e6bd0;
    ---Cor04: #036b05df;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 1310px;
    margin: 0 auto;
    background: linear-gradient(45deg, rgba(62, 147, 255, 1) 24%, rgba(68, 171, 223, 1) 68%);
}

header {

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}


header>a>img#logotipo {
    animation: logo 1s 1s ease-in-out forwards;
    opacity: 0;
    height: 95px;
    margin-left: 5em;
}

header>#icone-log > img{
    animation: icone-log 4s 2ms ease-in-out infinite;
   
    height: 50px;
    margin-right: 2em;}




main {

    display: flex;
    align-items: center;
    gap: 10em;

    padding: 25px;
    width: 60em;
    margin: auto;
    margin-bottom: 4em;
}

div#container_01 {
    padding: 10px;
}

div#container_01>h1 {
    font-family: var(---Font);
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 11%);
    margin-bottom: 10px;
}


div#container_01>p {
    font-family: var(---Font);
    font-size: 18px;
    margin-bottom: 25px;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 11%);
    width: 90%;
}

div.bottom_consultar {
    animation: text 1s 1s ease-in-out forwards;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 15em;
    padding: 14px;
    border-radius: 12px;
    background-color: var(---Cor03);
}

div.bottom_consultar:hover {
    background-color: #0778a4d0;
    transition-duration: 1s;
    cursor: pointer;
}

div.bottom_consultar>a {
    font-family: var(---Font);
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}



article#img_container {
    animation: simples 1s 1s ease-in-out forwards;
    opacity: 0;

    height: 29em; 
    width: 29em;

}

article#img_container>img#foto_main {
    height: 29em;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);

}

/*formulario em */


section {
    animation: simples 1s 1s ease-in-out forwards;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 1px 9px rgb(60 123 181);
    background-color: #fff;
    border-radius: 10px;

    margin: auto;
    height: 30em;
    width: 50em;
}

form {
    display: flex;
    flex-direction: column;



    border-right: 3px solid rgb(62, 146, 255);;

    width: 20em;
    height: 20em;
    padding: 30px;

}

form>h1 {
    font-family: var(---Font);
    color: var(---Cor01);
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 8px;
}

form>h2 {
    font-family: var(---Font);
    color: rgb(29, 184, 34);
    font-size: 18px;
    margin-bottom: 17px;
}

form>p {
    font-family: var(---Font);
    color: var(---Cor01);
    font-size: 14px;

    margin-bottom: 2em;
}

form>input {
    margin-bottom: 1em;
    border: none;
    outline: none;
    background-color: transparent;
    padding-top: 10px;

    border-bottom: 1px solid rgb(62, 146, 255);
    color: var(---Cor01);
}

form>label {
    font-family: var(---Font);
    color: var(---Cor01);
}

input::placeholder {
    color: rgba(62, 146, 255, 0.568);
}

div#container_inputs {
    height: 40em;
}

div#container_submit {
    margin-top: 1em;

}

input#bottom_consultar {
    display: block;
    margin: auto;
    width: 80%;

    border-radius: 10px;
    border: none;
    padding: 7px;
    cursor: pointer;

    background-color: var(---Cor01);
    font-family: var(---Font);
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}

input#bottom_consultar:hover {

    background-color: rgb(29, 184, 34);
}




#container_img {
    width: 20em;
    height: 20em;
    padding: 10px;
}

img#img {
    display: block;
    margin: auto;
    height: 20em;
    width: 20em;


}