/* versão para ipad - tabletes */

@media screen and (min-width: 481px) and (max-width:768px ) {



    body {
        height: 100vh;
        background-color: aquamarine;
    }

    header>a>img#logo {

        height: 80px;
    }


    header>a#Link-login {
        width: 3em;
    }


    main {
        gap: 2em;
        padding: 30px
    }



    div#container_one {

        width: 18em;
        padding: 8px;
    }

    div#container_one>h4 {
        font-size: 15px;
    }

    div#container_one>h1 {
        font-size: 22px;
    }

    div#container_one>p,
    a#link-whaatsApp {
        font-size: 11px;

    }


    div#container_one>a#link-consultar {
        padding: 5px;
        font-size: 14px;
        width: 62%;

    }



    main>#imagem-one {
        height: 14em;
    }

    /*FORUMLARIO */

    section {

        gap: 4em;
        padding: 15px;
    }

    form {

        width: 15em;
        padding: 10px;

    }



    form>h2 {
        font-size: 14px;
    }

    form>label {
        font-size: 13px;
    }


    input#bottom-consultar {
        padding: 8px;
        font-size: 12px;

    }


    img#img-consultar {
        height: 169px;
    }


    input::placeholder {
        font-size: 11px;
        color: #84a0ab
    }





}



