/* versão para iphone- celular */

@media screen and (min-width: 220px) and (max-width:480px) {

    body {
        height: 100vh;
        /*background-color: rgb(17, 17, 184);*/
    }


    header>a>img#logo {

        height: 56px;
        margin-left: 1em;
    }


    header>a#Link-login {
        width: 3em;
        font-size: 12px;
        margin-right: 8%;
        animation: none;
    }

    main {
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        padding: 4em 0em 7em 0em;

        gap: 1em;

        padding-top: 5em;
    }

    div#container_one {

        margin: auto;
        width: 60%;
        padding: 7px;
    }


    div#container_one>h4 {
        font-size: 14px;
    }

    div#container_one>h1 {
        font-size: 21px;
    }

    div#container_one>p,
    a#link-whaatsApp {
        font-size: 12px;

    }

    div#container_one>a#link-consultar {

        padding: 8px;
        font-size: 13px;
        width: 60%;

    }




    main>#imagem-one {
        height: 13em;
    }



    /*FORUMLARIO */

    section {

        flex-direction: column;
        gap: 14px;
        padding: 10px;
    }

    form {


        width: 14em;
        padding: 20px;

    }


    form>h2 {
        font-size: 15px;
    }

    form>label {
        font-size: 12px;
    }


    input#bottom-consultar {
        padding: 6px;
        font-size: 12px;
        width: 100%;

    }

    img#img-consultar {
        height: 140px;
    }


    input::placeholder {
        font-size: 10px;
        color: #84a0ab
    }





}


/*ADAPTAÇÃO*/


@media screen and (min-width: 360px) and (max-width:740px) {
    /*  body{
        background-color: black;
    }
*/


    header>a>img#logo {

        height: 56px;
        margin-left: 10%;
    }


    header>a#Link-login {
        margin-right: 10%;
    }


    div#container_one>p,
    a#link-whaatsApp {
        font-size: 12px;
        width: 90%;

    }


    div#container_one>a#link-consultar {

        padding: 8px;
        font-size: 13px;
        width: 70%;

    }

    section {
        margin: auto;
    }

    form {
        justify-content: center;

    }

    img#img-consultar {
        display: none;

    }




}


/*adaptção*/

@media screen and (min-width: 280px) and (max-width:653px) {
    /*body{
        background-color: bisque;
    }*/

    div#container_one>p,
    a#link-whaatsApp {
        font-size: 10px;
        width: 90%;

    }

    div#container_one>a#link-consultar {

        padding: 8px;
        font-size: 10px;
        width: 70%;

    }
}