/* versão para iphone- celular */

@media screen and (min-width: 220px) and (max-width: 820px) {

    body{
        height: 100vh;
    }


    header>a>img#logo {

        height: 60px;
        margin-left: 2em;
    }


    header>a#Link-login {
        width: 3em;
        font-size: 12px;
        margin-right: 2em;
        animation: none;
    }
    
    main {
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        padding: 4em 0em 7em 0em;

        gap: 1em;

        padding-top: 5em;
    }

    div#container_one {

        margin: auto;
        width: 60%;
        padding: 7px;
    }
    

    div#container_one>h4 {
        font-size: 14px;
    }

    div#container_one>h1 {
        font-size:21px;
    }

    div#container_one>p,
    a#link-whaatsApp {
        font-size: 12px;

    }

    div#container_one>a#link-consultar {

        padding: 8px;
        font-size: 13px;
        width: 60%;
       
    }
      

    

    main>#imagem-one {
        height: 13em;
    }
    

    
    /*FORUMLARIO */

    section {

        flex-direction: column;
        gap:14px;
        padding: 10px;
    }

    form {

       
        width: 14em;
        padding: 5px;

    }

    
    form>h2 {
        font-size: 15px;
    }

    form>label {
        font-size: 12px;
    }

    
    input#bottom-consultar {
        padding: 6px;
        font-size: 12px;
        width: 100%;

    }

    img#img-consultar {
        height:140px;
    }


    input::placeholder{
        font-size: 10px;
        color: #84a0ab
    }



    
   
}