@charset  "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');


:root {
    ---Font: 'Nunito', sans-serif;
    ---Cor01: rgb(62, 147, 255);
    ---Cor03: #034e6bd0;
    ---Cor04: #036b05df;}

*{
    margin: 0px;
    padding:0px;
    text-decoration: none;
}


body{
    background: linear-gradient(45deg, rgba(62, 147, 255, 1) 24%, rgba(68, 171, 223, 1) 68%);
    height: 100vh;
}



main{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}



main > h1{
   
    font-family: var(---Font);
    font-weight: bold;
    font-size: 2em;

    color: #fff;
    text-align: center;
}

main > p{

    font-family: var(---Font);
    font-weight: 400;
    font-size: 17px;

    color: #fff;
    text-align: center;

    margin-bottom: 1em;

}

div#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;   

    background-color: #fff;
    border-radius: 10px;
    width:47em;
    height: 30em;
    padding: 25px;
}

img#foto_main{
    height: 31em;
    width: 25em;
    border-radius: 10px;
}


form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    width: 25em;
   
}

input{
    border: none;
    border-bottom: 1px solid rgb(47 114 199);

    background-color: transparent;
    outline: none;

    margin-bottom:10px;
    padding: 2px;
  

    color: rgb(29 72 127);
    font-family: var(---Font);
    font-weight: 600;
}



label{
    font-family: var(---Font);
    font-weight: 400;
    margin-bottom:10px;
    color: rgb(47 114 199);
}

select{
    margin-bottom:10px;
    border: none;
    background-color: rgb(29 72 127);
    border-radius: 10px;
    padding: 5px;
    outline:none;
}

select:optional{
    background-color: #368dc8;
    color: rgb(255 255 255);
}



input.envia{
    margin-top: 1em;
    padding: 5px;

    background-color:#368dc8;
    border-radius: 10px;
    border: none;
    color: #fff;
    
}

input.envia:hover{
    background-color:rgb(58, 203, 58);
    transition-duration: 1s;
    cursor: pointer;
    
}



