@media screen and (min-width: 253px) and (max-width: 767px) {


    section#section-prefeitura-cubatao {
        height: 8em;
        width: 85%;
        border-radius: 0;
    }

    main{
        flex-direction: column-reverse;
        
    }

    section#formulario-section{
        border: none;
        border-top: 3px solid #ffffff;
        padding:25px
  
    }

    .h2,
    h2 {
       
        font-size: 33px;
        margin-bottom: 0px;
        text-align: center;
    }



    form>input {

        width: 90%;
        font-size:16px;
    }

    form>input.submit {

        padding: 10px;
        font-size: 18px;

    }


    img#picture-logo-prefeitura {
        height: 5em;
    }
}



