@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');


:root {
    ---Font: 'Nunito', sans-serif;
    ---Cor01: rgb(62, 147, 255);
    ---Cor03: #034e6bd0;
    ---Cor04: #036b05df;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    background-color: aliceblue;
}

header {

    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 2px solid #AEDFF2;
    margin-bottom: 3em;
    padding: 3px;
}

header>img {
    margin-left: 40px;
}


header>a {

    position: absolute;
    right: 0;

    margin-right: 45px;
    font-family: var(---Font);
    font-weight: bold;
    font-size: 16px;

    text-align: center;
    text-decoration: none;
    color: #fff;

    background-color: #24c0fd;
    border-radius: 10px;
    padding: 4px;
    width: 9em;
}

header>a:hover {
    background-color: #1fa2d6;
}

/*h1s*/

h1,h1#msg{

    font-family: var(---Font);
    font-weight: bold;
    font-size: 20px;
    color: #24c0fd;
    text-align: center;
    margin-bottom: 1em;

}

h1#msg{
    display: none;
}

/*FORMULARIOS TITULAR*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 255, 255, 0);
    padding: 10px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;

    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    width: 40em;
    margin-bottom: 1em;
}


div#form-titular-01,div#form-titular-02,div#form-nome-dep,div#form-nascimento{
    display: flex;
    flex-direction: column;
    width: 20em;

    /*TODOS OS FORMULARIOS*/
}

label{
    font-family: var(---Font);
    font-weight: 400;
    color: #24c0fd;
    margin-top: 10px;
}

 input{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #24c0fd;
    outline-color: #20a5d9;
    padding: 5px;
    font-weight: 600;
    color: #081014;
   
}

input::placeholder{
    color: rgb(188, 186, 186);
}

#c_foto{
    display: none;
}


/*FORMULARIO DOS DEPENDENTES*/


#input_titular, .input_dependentes ,#input_limpar{
    background-color: #24c0fd;

    font-family: var(---Font);
    font-weight: bold;

    border-radius: 10px;
    border: none;
    margin-top: 1em;
    cursor: pointer;
    margin-top: 10px;
    color: #ffff;
}

#input_limpar:hover{
    background-color: brown;
}

#input_titular:hover,  .input_dependentes:hover{
    background-color: rgb(20, 203, 39);
}

select{    
    border: 1px solid #24c0fd;;
    outline: none;
    padding: 1px;
    margin-top: 1em;
}
