@charset "UTF-8";

/* versão para iphone- celular */


@media screen and (min-width: 120px) and (max-width: 710px) {

    header > img{
        height: 55px;
        margin-left: 1em;
    }

    header > a{
        width: 5em;
        font-size: 13px;
    }

    h1{
        display: none;
    }

    h1#msg{
        font-weight: bold;
        display: block;
    }


    form{
        display: none;
    }
   


}