@media screen and (min-width:711px) and (max-width:1170px) {
 
 /*body {
    background-color: orange;
  }*/

  h1 {
    display: block;
  }

  h1#msg {
    display: none;
  }

  input {
    width: 14em;
  }

  select {
    width: 14em;
    font-size: 14px;
  }

  select>option {
    font-size: 14px;
  }


  input#submits,
  input#limpar {
    margin-left: 0em;
    width: 14em;
    font-size: 14px;
  }

  form {
    width: 80%;
  }
  section {
    width: 76%;
}

 



}


@media screen and (min-width:912px) and (max-width:1368px) {

 body {
    background-color: rgb(211, 95, 95);
  }


  section {
    width: 60%;
    height: auto;
    font-size: 13px;
  
}


select>option {
  font-size: 14px;
}



form{
  margin: auto;
}

input#submits,
input#limpar {
  font-size: 13px;
  width: 15em;


}
.container_dependentes{
  height: 42em;

}

.input_dependentes{
  margin-top: 10em;
}

section.section_dependentes {
  height: 39em;

}
}
