@charset "UTF-8";

/* versão para iphone- celular */


@media screen and (min-width: 120px) and (max-width: 1172px) {

    body {
        height: 100vh;
    }

    img.icon {
        height: 30px;
    }

    header{
        margin-bottom: 2em;
    }

    header>h3 {
        display: none;
    }

    header>img {
        height: 70px;
        margin-left: 2em;
        margin-right: 0em;
    }

    header>a.encerrar_sessao {
        font-size: 15px;

    }


    main {
        display: none;

    }

    section {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 10px;
        margin-bottom: 0em;
    }

    div.icons_imgs {
        margin:auto;
        width: 5em;
    }

    div.icons_imgs>a>h3 {
        font-size: 12px;

    }

    div.icons_imgs>p {
        display: none;

    }


    footer {
        display: none;
    }
}