/* versão para iphone- celular */

@media screen and (min-width: 220px) and (max-width:1116px) {
  /*body {
    background-color: rgb(127, 228, 127);
  }*/


  header {
    padding: 4px;
  }

  div#container-log {
    gap: 8px;
    margin-right: 8%;
    padding: 4px;
  }

  header>div#container-log>img#img-login {
    height: 30px;

  }

  header>div#container-log>a {
    display: none;
    font-size: 18px;
  }


  header>img#img-logo {
    height: 60px;
    margin-left:3%;
  }

  div.container {
    gap: 1em;
    padding: 10px;
  }


  /*MAIN*/


 


  main {
    width: 20em;
  }


  div.container-cards {
    display: flex;
    gap: 10px;
    width: 18em;
    padding: 7px;

  }


  div.card {

    padding: 1px;
    height: 100px;
    width: 65px;
  }



  div.card>img.img-card {
    display: block;
    margin: auto;
    height: 30px;
    padding-top: 25px;
  }


  h3.card-text,
  a.link-card {
    font-size: 10px;
    text-align: none;

  }


  div#card-encerrar {
    width: 14em;
  }
}



















/* versão para iphone- celular - ADAPTAÇÃO*/



@media screen and (min-width:590px) and (max-width:710px) {
  /*body {
    background-color: azure;
  }*/


  header>img#img-logo {
    height: 70px;
    margin-left: 3%;
  }

  header>div#container-log{
    margin-right: 4%;
    padding: 10px;
  }

  header>div#container-log>img#img-login {
    height: 30px;
  }

  header>div#container-log>a {
    font-size: 15px;
  }


  div.card {

    padding: 1px;
    height: 80px;
    width: 65px;
  }


  div.card>img.img-card {
    height: 30px;
    padding-top: 15px;
  }
  
  div#card-encerrar {
    width: 14em;
  }

 



}








