@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

/* versão all */

/*CORPO DO HTML*/


:root {
    ---Font: 'Nunito', sans-serif;
    ---Cor01: rgb(62, 147, 255);
    ---Cor03: #034e6bd0;
    ---Cor04: #036b05df;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #BDE3F2;
    margin-bottom: 4em;
    
 
}

div#container-log {
    display: flex;
    align-items: center;
    gap: 1em;

    margin-right: 2%;
    padding: 12px;

    background-color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
}

header>div#container-log>img#img-login {
    height: 35px;
    border-radius: 30px;
}

header>div#container-log>a {
    font-family: var(---Font);
    font-weight: 600;

    color: #2694BF;
    text-decoration: none;
}


header>div#container-log>a:hover {
    color: #26bf3a;
}


header>img#img-logo {
    height: 80px;
    margin-left: 5%;
}


div.container {

    display: flex;
    gap: 1em;
    padding: 10px;

}



/*MAIN */


main{
    padding: 5px;
    border-radius: 10px;
    background-color:#AEDFF2;
    width: 60em;

    padding: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div.container-cards{
    display: flex;
    justify-content: space-around;
    gap: 1em;

    background-color: transparent;
    margin: auto;
    padding: 9px;
    
}


div.card{
    background-color: aliceblue;
    border-radius: 10px;

    padding: 12px;
    width: 180px;
    height: 92px;
 
}

div.card:hover{
    cursor: pointer;
    background-color: rgb(213, 234, 252);
}

div.card > img.img-card{
    display: block;
    margin: auto;
    height: 70px;
    padding-bottom: 0px;
}


h3.card-text, a.link-card{
    font-family: var(---Font);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #1492c8;
}


div#card-encerrar{
    width: 26em;
}
