@media screen and (min-width:725px) and (max-width:1024px) {

  header {
    padding: 10px;
 

  }

  header>img#img-logo {
    height: 120px;
  }


  main {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 16px;
    width: 42em;
}

div.container-cards {
   
    gap: 1.6em;
 

}

section {
    display: none;

}

div.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 12px;
    width: 17em;
    height: 19em;
    box-shadow: 3px 1px 2px 2px #00000014;
}



 div.card>img.img-card {
    height: 80px;

}

h3.card-sub-titulo{
  font-family: var(---Font);
  font-size:18px;
 
}





  /*MENSAGEM DA CARTEIRINHA*/
  
  
  a > div#caixa-notificação {
     
    animation:none;
    opacity:1;
    width: 14em;
    margin: auto;

   
}


div.img-titulo-caixa>img.icon-notific {
    height: 22px;
}


div.img-titulo-caixa>h3 {
    font-family: var(---Font);
    font-weight: bold;
    font-size: 1em;
    color: #4A6376;
}


p#descrição-p {
    font-family: var(---Font);
    font-size: 14px;
    font-weight: 200;
    margin-top: 1em;
    color: #4A6376;
}







}