@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

/* versão all */

/*CORPO DO HTML*/


:root {
    ---Font: 'Nunito', sans-serif;
    ---Cor01: rgb(62, 147, 255);
    ---Cor03: #034e6bd0;
    ---Cor04: #036b05df;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    margin: 0 auto;
    background-color: #fcfcfc;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #BDE3F2;
    padding: 10px;
    margin-bottom:3em;

}


header>img#img-logo {
   height: 140px;
    margin: auto;
}


div.container {

    display: flex;
    gap: 1em;
    padding: 10px;

}



/*MAIN */



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    width: 89em;
    margin: auto;
    margin-top: 1em;

}



div.container-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1.8em;
      background-color: transparent;
    /* margin: auto; */
    padding: 10px;
    margin-bottom: 8em;

}





div.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 12px;
    width: 19em;
    height: 19em;
    box-shadow: 3px 1px 2px 2px #00000014
}


div.card:hover {
    cursor: pointer;
    background-color: rgb(255 255 255 / 79%);

}


div.card>img.img-card {
    height: 100px;
    margin-bottom: 1em;
}


h3.card-text,
a.link-card {
    font-family: var(---Font);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #5b8394;
}

h3.card-sub-titulo {
    font-family: var(---Font);
    font-size: 23px;
    margin-bottom: 1em;
    margin-left: 2em;
    font-weight: bold;
    color: #4d98b5a8;

}





/*MENSAGEM DA CARTEIRINHA*/

@keyframes mensagem-carteirinha {

    to {
        opacity: 1;
        transform: translateX(0px)
    }

    from {

        transform: translateX(-20px);
    }


}

section{
    display:flex;
    gap:1em;
    justify-content: space-evenly;
}
        
        
        
a.link-notif {
    text-decoration: none;
}

a > div#caixa-notificação {
    background-color: #fcfcff;
    animation: mensagem-carteirinha 1s 4s ease-in-out forwards;
    opacity: 0;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 11%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    margin: auto;
    height: 7em;
    /* padding: 10px; */
}


div.titulo-caixa {
    display: flex;
      align-items: center;
    justify-content: space-around;
     background-color: rgb(252 252 255);
    width: 100%;
    border-bottom: 3px solid #4a63761f;

}

div.img-titulo-caixa {
    display: flex;
    gap: 1em;
    padding: 10px;
}



div.img-titulo-caixa>img.icon-notific {
    height: 28px;
}



div.img-titulo-caixa>h3 {
    font-family: var(---Font);
    font-weight: bold;
    font-size: 1.1em;
    color: #4A6376;
}


p#descrição-p {
    font-family: var(---Font);
    font-weight: 200;
    margin-top: 1em;
    color: #4A6376;
}





/*ADAPTAÇÃO*/

@media screen and (min-width: 1025px) and (max-width:1121px) {

    main {
        width: 47em;
        padding: 15px;
        border-radius: 15px;
    }

    div.card,
    #ultimo_card {
        width: 20em;
        height: 14em;
    }

    h3.card-sub-titulo {
        font-family: var(---Font);
        font-size: 19px;


    }
    
    
    a > div#caixa-notificação {
    
    width: 16em;

}
    
    
    
    p#descrição-p {
    font-family: var(---Font);
    font-size: 14px;
    font-weight: 200;
    margin-top: 1em;
    color: #4A6376;
}
}



@media screen and (min-width: 1122px) and (max-width:1476px) {

    main {
        width: 70em;
        padding: 15px;
        border-radius: 15px;
    }

    div.card,
    #ultimo_card {
        width: 31em;
        height: 14em;
    }

    h3.card-sub-titulo {
        font-family: var(---Font);
        font-size: 20px;
    }


}