@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');
:root{

    --fontPadrao: 'Roboto', sans-serif;

    --fontsuperior: 'Mulish', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


body, html{
    height: 100%;
}

header#caixa-header-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 3px solid #23b571;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 5em;
}

img#logo-cubatão-prefeitura{
    height: 6em;
    cursor: pointer;
}

#bnt-encerrar{
    font-family:var(--fontsuperior);
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    outline: none;
}

#bnt-encerrar:hover{
    background-color: #21a568;
}


main{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;

    width: 95%;
    margin: auto;
}

div.card{
    width: 20rem;
    height: 25em;
    margin-bottom: 3em;
    cursor: pointer;
}


.card-title{
    font-family:var(--fontsuperior);
    font-weight: bold;
}

img, svg {
    vertical-align: middle;
    height: 12em;
}

a#link-card{
    font-family:var(--fontsuperior);
}

p.card-text{
    font-weight: 200;
}

.bold{
    font-family:var(--fontPadrao);
    font-weight: bold;
}


/*ADAPTAÇÃO EM PC */

@media screen and (min-width: 1130px) and (max-width: 1464px){


    div.card{
        width: 16rem;
        cursor: pointer;
    }

    
    img#logo-cubatão-prefeitura{
        height: 5em;
     
    }

    #bnt-encerrar{
        font-size: 22px;
    }



}


@media screen and (min-width:1130px) and (max-width: 1194px){


    div.card{
        width: 15rem;
    }


    img#logo-cubatão-prefeitura{
        height: 5em;
     
    }

    #bnt-encerrar{
        font-size: 22px;
    }



}



@media screen and (min-width: 1039px) and (max-width: 1129px){


    div.card{
        width: 13rem;
    }



    img#logo-cubatão-prefeitura{
        height: 5em;
     
    }

    #bnt-encerrar{
        font-size: 22px;
    }




}



@media screen and (min-width: 708px) and (max-width:1039px){



    img#logo-cubatão-prefeitura{
        height: 5em;
     
    }

    #bnt-encerrar{
        font-size: 22px;
    }




}


