/*ADAPTAÇÃO EM IPADS */

@media screen and (min-width: 275px) and (max-width: 707px){


    header#caixa-header-main{
        justify-content: space-around;
        gap:2em;
    }


    img#logo-cubatão-prefeitura{
        height: 4em;
        margin-left: 1em;

    }


    #bnt-encerrar{
        font-size: 16px;
        margin-right: 1em;
    }
    

    img, svg {
        vertical-align: middle;
        height: 11em;
    }

    h5.card-title{
        font-size: 1.6em;
    }

    p{
        font-size: 14px;
    }

    a#link-card{
        font-size: 18px;
    }

    div.card {
        margin-bottom: 4em;
    }

    

    


}