@charset  "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');



:root {
    ---Font: 'Nunito', sans-serif;
    ---Cor01: rgb(62, 147, 255);
    ---Cor03: #034e6bd0;
    ---Cor04: #036b05df;}

*{
    margin: 0px;
    padding:0px;
    text-decoration: none;
}


body{
    background: linear-gradient(45deg, rgba(62, 147, 255, 1) 24%, rgba(68, 171, 223, 1) 68%);
    height: 100vh;
}



main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 48px;
    width: 35em;
    background-color: rgba(255, 255, 255, 0.41);
    border-radius: 20px;
}


h1{
    font-family: var(---Font);
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}




p{
    font-family: var(---Font);
    font-weight: bold;
    font-size: 17px;
    color: #05425b;
    margin-bottom: 12px;
}

section{
    display: flex;
    margin-top: 2em;

}

section > a{
    font-family: var(---Font);
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    margin-right: 1em;
    padding: 12px;

    border-radius: 15px;
    background-color: var(---Cor03);
    color: #fff;
}

section > a:hover{
    background-color: rgb(45, 213, 26);
    transition-duration: 2ms;
}

span#ativo{
    color: #059a08df;;
}

span#inativo{
    color: brown;;
}




