@media screen and (min-width: 230px) and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       align-items: none;
        padding: 8px;
        border-bottom: 3px solid #2BA8D9;
        margin-bottom: 3em;
        gap:1em;
    }
   

    img#logo-cartao {
        height: 6em;
        padding-left: 0;
        
    }
    
      div#alert {
        font-size: 15px;
        width: 60%;
        text-align: center;
        margin: auto;
        /* margin-right: -8em; */
    }
    
    
    #link-bloquear {
        /* display: flex; */
        font-size: 16px;
        padding: 10px;
        margin-bottom: 10px;
    }



   


    main>h1#title-form,div#form-dependentes > h1#title-form-dependentes{
        font-size: 2em;

    }


    
        input#submit-dp{
        background-color: transparent;
        border: none;
        color: #fff;
        padding-left: 0em;
        padding-right: 0em;
    }



    input#input_titular{
        border: none;
        background-color: transparent;
        color: #ffff;
        padding-left: 0em;
        padding-right: 0em;
    }
    
    
        #button-submit {
        background: #258ab2;
        border: none;
        color: #ffff;
        padding: 10px;
        width: 100%;
        font-size: 17px;
    }
    











}