@media screen and (min-width:481px) and (max-width: 768px) {


    header#caixa-header-main {
        justify-content: space-around;
    }


    img#logo-cartao {
        height: 6em;

    }


    a#link-encerrar-atividades {
        display: none;
        font-size: 17px;
        padding: 10px;
    }

    a#link-encerrar-atividades-mobile {
        display: none;
    }



    div#descricao {
        flex-direction: column-reverse;
        margin-left: 0em;

        width: 90%;
        margin: auto;
        margin-bottom: 4rem;

    }

    div#caixa-descricao-titulos{
        width: 90%;
    }

    div#descricao>div#caixa-descricao-titulos>h1 {

        font-size: 3em;
        text-align: center;

    }

    div#descricao>div#caixa-descricao-titulos>p {
    font-size: 14px;
    width: 100%;

    }
    
    form#buscar{
        width: 100%;
        margin: auto;
    }

   button#button-submit-buscar {
        font-size: 20px;
        padding: 10px;
    }

    main>article#caixa-empresas {

        flex-wrap: wrap;

    }
    
    h5.card-header {
    font-weight: bold;
    color: #565555;
    font-size: 27px;
    }
    
    .card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    display: flex;
    flex-direction: column;
    gap: 1em;
}


    h5.card-title {
        font-weight: bold;
        color: #565555;
        font-size: 24px;
    }
    
    p.card-text {
    color: #565555;
    font-size: 22px;
}
    



    div.card {
        width: 40rem;

    }





}



/*VERSOES PARA CELULAR*/

@media screen and (min-width:220px) and (max-width: 480px) {


    header#caixa-header-main {
        justify-content: center;
        margin-bottom: 3em;

    }

    .btn-group-vertical>.btn,
    .btn-group>.btn {
        display: none;
    }


    img#logo-cartao {
        height: 6em;

    }

    div#descricao {
    flex-direction: column-reverse;
    width: 90%;
    margin-bottom: 4rem;
    padding:10px;
}


    div#descricao>div#caixa-descricao-titulos>h1 {

        font-size: 2rem;
        text-align: center;

    }

    div#descricao>div#caixa-descricao-titulos>p {

        font-size: 16px;
        width: 100%;

    }


    button#button-submit-buscar {
        font-weight: bold;
        padding: 10px;
        font-size: 17px;
    }


    main>article#caixa-caixa-empresas {

        flex-wrap: wrap;

    }

    div.card {
        width: 35rem;

    }


    a#link-entrar-atividades {
        padding: 10px;
        font-size: 14px;
    }



    .h5,
    h5 {
        font-size: 1.1rem;
    }

    div#div#alert {
        display: none;
    }

   
    form#buscar{
        width: 80%;
        margin: auto;
    }

}