@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');


:root {
    ---Font: 'Nunito', sans-serif;
    ---Cor01: rgb(62, 147, 255);
    ---Cor03: #034e6bd0;
    ---Cor04: #036b05df;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background: linear-gradient(45deg, rgba(62, 147, 255, 1) 24%, rgba(68, 171, 223, 1) 68%);
}

img.icon {

    height: 50px;
}

img.icon_01 {
    height: 80px;
    margin-left: 8em;

}

header {
    display: flex;
    align-items: center;

    background-color: transparent;
    border-bottom: 3px solid #fff;
    padding: 10px;
}

header>img {
    height: 80px;
    margin-left: 5em;
    margin-right: 5em;
}

header>h3 {
    font-family: var(---Font);
    font-weight: bold;
    font-size: 20px;

    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    text-decoration: underline;
}

header>a.encerrar_sessao {
    position: absolute;
    right: 0;

    margin-right: 40px;
    text-decoration: none;

    background-color: var(---Cor03);
    border-radius: 10px;

    padding: 10px;
    width: 8em;

    font-family: var(---Font);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #fff;
}


header>a.encerrar_sessao:hover {
    background-color: rgb(181, 27, 27);
    transition-duration: 1s;
}

main {
    display: flex;
    align-items: center;
    padding: 50px;
    margin-bottom: 4em;

}

main>  div.container_checkBox {
    font-family: var(---Font);
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-left: 20px;

}


a > div.check {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 10px;
}

a  {
   color:#ffff;
}

a:hover  {
    text-decoration: underline;
    color:#ffff;
 }


article {
    position: absolute;
    right: 0;

    margin-right: 200px;

}

article>h1 {
    font-family: var(---Font);
    font-weight: bold;
    color: #fff;
    font-size: 2em;

    margin-bottom: 12px;
}

article>p {
    font-family: var(---Font);
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
}

article>a#bottom_main {
    font-family: var(---Font);
    font-weight: bold;
    color: #fff;
    font-size: 15px;

    background-color: rgb(18, 211, 66);
    border-radius: 10px;
    padding: 10px
}


section {
    display: flex;
    justify-content: center;
    gap: 8em;
    padding: 20px;
    margin-bottom: 5em;
}


div.icons_imgs {
    padding: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
}

div.icons_imgs>img.icon {
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.icons_imgs> a > h3 {
    font-family: var(---Font);
    font-weight: bold;
    color: var(---Cor01);

    font-size: 20px;
    text-align: center;
}

div.icons_imgs> a > h3:hover {
    text-decoration: underline;
}

div.icons_imgs>p {
    font-family: var(---Font);
    font-weight: bold;
    color: rgb(18, 211, 66);

    font-size: 15px;
    text-align: center;
}


footer {
    background-color: #00000047;
    text-align: center;
    padding: 8px;
}

footer>h3 {
    font-family: var(---Font);
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-top: 1em;
}

footer>p {
    font-family: var(---Font);
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 12px;
}