/* vers���o para ipad - tabletes */

@media screen and (min-width: 768px) and (max-width: 1180px) {



  main {
    width: 30em;
  }

  

  h3,
  h3.brown {
    font-size: 24px;
  }


  form>input,
  select {
    font-size: 18px;
    outline-color: #2BA8D9;
    margin-bottom: 10px;
    width: 21em;

  }

  select {
    width:90%;
  }


  input.login {

    font-size: 19px;
    width: 22em;

  }
  
   /*EDIÇÃO DE ACESSP*/

select#select-editar-acesso{
  width: 90%;
}

.link_retornar_acesso{

 
  border: none;

  font-family: var(---Font);
  font-size: 18px;
  font-weight: bold;
  color: #fff;

  cursor: pointer;
  padding: 15px;
  width: 85%;
  text-decoration: none;
  text-align: center;
}






}