/* versão para iphone- celular */

@media screen and (min-width: 220px) and (max-width:480px) {

/*body{
  background-color: orange
}
*/
  main{
    width: 10em;
  }

  main > form > h1{
    font-size: 20px;
  }

  main > form > h3{
    font-size: 10px;
  }

  form > input {
    padding: 4px;
    font-size: 10px;
  }

  form > input::placeholder{
    font-size: 10px;
  }

  input.login{
    font-size: 9px;

}

}

