/* versão para iphone- celular */


@media screen and (min-width: 280px) and (max-width:653px) {
  /*{
    background-color: rgb(14, 81, 101);
  }*/



  main {

    width: 12em;
    padding: 25px;

  }

  h1 {
    font-size: 22px;
  }

  h3 {
    font-size: 14px;
  }

  form {
    width: 90%;
  }

  form>input {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;

  }

  input.login {
    font-size: 10px;

  }

  form>input::placeholder {
    font-size: 14px;
  }

}