@media screen and (min-width: 280px) and (max-width:679px) {


    main {

        width: 19em;
        padding: 30px;


    }


    h1 {

        font-size: 28px;

    }


    p {
        font-size: 17px;
    }


    a#retornar,
    a#links {

        font-size: 13px;
        padding: 10px;

    }



}