@charset  "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');


:root {
    ---Font: 'Nunito', sans-serif;
    ---Cor01: rgb(62, 147, 255);
    ---Cor03: #034e6bd0;
    ---Cor04: #036b05df;}

*{
    margin: 0px;
    padding:0px;
    text-decoration: none;
}


body{
    background: linear-gradient(45deg, rgba(62, 147, 255, 1) 24%, rgba(68, 171, 223, 1) 68%);
    height: 100vh;
}



main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    
}



h1{
   
    font-family: var(---Font);
    font-weight: bold;
    font-size: 2em;
    color: var(---Cor01);
    margin-bottom: 24px;
    text-align: center;
    
}

form{
    
    display: flex;
    flex-direction: column;
    margin: auto;
    
    width: 40em;
    padding: 30px;
    background-color: rgb(255 255 255 / 68%);
    border-radius: 25px;
   
    
}

div#container_select{
    display: flex;
    gap:2em;
    margin-bottom: 1em;
    margin-top: 1em;
}


input{
    border: none;
    border-bottom: 1px solid  rgb(62, 147, 255);
    outline: none;

    margin-bottom: 1em;
    
    font-family: var(---Font);
    font-weight: bold;
    color: #32b946d0;
    background-color: transparent;
}

label{
    font-family: var(---Font);
    font-weight: bold;
    color:var(---Cor01);
    margin-bottom: 7px;
}

select{
    outline: none;
    background-color: #ffffff6e;
    border: 1px solid var(---Cor01);
    cursor: pointer;
    border: none;

}

select:optional{
    font-weight: bold;
    color: #32b946d0;
    border-radius: 50px;
    padding: 6px;
}



.tipo_peq ,.tipo_cliente,.hora,#retorno_atender{
    width: 15em;
    padding: 3px;
    margin-bottom: 1em;

    font-family: var(---Font);
    color: #32b946d0;
   
}



input.hora::placeholder{
    width: 6em;
}

div.container_enviar{
    margin-top: 1em;
}




input.envia{
    width: 99%;
    padding: 7px;
    background-color: var(---Cor01);
    border-radius: 30px;
    border: none;
    font-size: 18px;
    margin: auto;
    cursor: pointer;
    color: #fff;

}

input.envia:hover{
    transition-duration: 0.5s;
    background-color: rgba(48, 222, 60, 0.771);
    color: #fff;
   
}

