@media screen and (min-width: 768px) and (max-width: 1180px) {


    section#section-prefeitura-cubatao {
        height: 21.9em;
        
    }

    .h2, h2 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    p#acesso-negado{
        font-size:19px;
    }
    
    
    form > input{

        width: 16em;
        font-size: 18px;
    }

    form > input.submit {
      
        padding: 8px;
        font-size: 20px;
     
    }

    
    img#picture-logo-prefeitura{
        height:8em;
    }



}