@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');



:root {
    ---Font: 'Nunito', sans-serif;
    ---Cor01: rgb(62, 147, 255);
    ---Cor03: #034e6bd0;
    ---Cor04: #036b05df;
}

body,
html {
    height: 100%;
}

body {
    background-color: #F2F2F2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px;
    border-bottom: 3px solid #2BA8D9;
    margin-bottom: 3em;
}


#alert {

    margin-right: 3em;
}

img#logo-cartao {
    height: 8em;
    padding-left: 3em;
}

h2#title {
    font-family: var(---Font);
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    color: #2694BF;
    margin-bottom: 1em;
}


main,
article {
    margin: auto;
    width: 80%;
}

#submit {
    font-size: 20px;
    width: 100%;
    background-color: #1e7699;
    border-color: #1e7699;
    ;

}

#submit:hover {
    background-color: #1e80a6;
}

@media screen and (min-width:321px) and (max-width: 1024px) {


    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       align-items: none;
        padding: 8px;
        border-bottom: 3px solid #2BA8D9;
        margin-bottom: 3em;
    }
   

    img#logo-cartao {
        height: 6em;
        padding-left: 0;
    }

    h2#title {
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }
    div#alert {
        font-size: 15px;
        width: 70%;
        text-align: center;
        margin: auto;
        /* margin-right: -8em; */
    }

}

@media screen and (min-width:200px) and (max-width: 380px){

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       align-items: none;
        padding: 8px;
        border-bottom: 3px solid #2BA8D9;
        margin-bottom: 3em;
    }
   

    img#logo-cartao {
        height: 6em;
        padding-left: 0;
    }

    h2#title {
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }
    div#alert {
        font-size: 15px;
        width: 60%;
        text-align: center;
        margin: auto;
        /* margin-right: -8em; */
    }
   
}